.LessonContainer-Wrapper {
  flex-direction: row;
  display: flex;
  height: 100vh
}

.LessonContainer__showSideMenuButton {
  display: none;
}

.LessonContainer__child {
    display: block;
}

@media screen and (max-width: 1024px) {
  .LessonContainer__showSideMenuButton {
    display: inline-block;
    width: 100%;
  }

  .LessonContainer__child{
    display: none;
  }

}