.lessonMenuContainer__Wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.lessonMenu--Button {
  margin-top:30px;
  padding: 10px 20px 10px 20px;
  background-color: #3c4044;
  color: white;
  border-radius: 5px;
}