.Button {
  margin:30px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}

.Button:hover {
  background-color: #9392ee;
  color: white;
}

.Button--Gray {
  background-color: #3c4044;
  color: white;
}

.Button--Green {
  background-color: #3d7937;
  color: white;
}


.Button--large {
  font-size: calc(8px + 2vmin);
  padding: 40px;
  border-radius: 7px;
}

.Button--noMargin {
  margin: 0;
}

