.LessonForm__Submit {
  margin-top:30px;
  padding: 10px 20px 10px 20px;
  background-color: #3c4044;
  color: white;
  border-radius: 5px;
}

.LessonForm__Submit:hover {
  background-color: #9392ee;
  color: white;
}

.LessonForm__label {
  margin-left: 20px;
  float: left;
  text-align: left;
  width: 100px;
}
.LessonForm__Select {
  min-width: 169px;
}