.ClassRoom__Play{
  margin-top:30px;
  margin-left: 30px;
  width: 70vw;
  height: 70vh;
}

.Classroom__StateHolder{
  width: 100vw;
  height: 100vh;
}

.ClassRoom__SongInfoPanel{
  margin-top:10px;
}

.ClassRoom__SongInfo {
  color: #3c4044;
  font-size: calc(8px + 2vmin);
}

.ClassRoom__Message {
  color: #3c4044;
  font-size: calc(8px + 2vmin);
}

.ClassRoom__MessageHolder{
  margin-top:30px;
}

.ClassRoom--Button {
  margin-top:30px;
  padding: 10px 20px 10px 20px;
  background-color: #3c4044;
  color: white;
  border-radius: 5px;
}

.ClassRoom--Button:hover {
  background-color: #9392ee;
  color: white;
}