.ClassRoom__Play{
  margin-top:30px;
  margin-left: 30px;
  width: 70vw;
  height: 70vh;
}

.Classroom__StateHolder{
  width: 100vw;
  height: 100vh;
}

.ClassRoom__SongInfoPanel{
  margin-top:10px;
}

.ClassRoom__SongInfo {
  color: #3c4044;
  font-size: calc(8px + 2vmin);
}

.ClassRoom__Message {
  font-size: calc(8px + 2vmin);
}

.ClassRoom__Message-Holder {
  border-radius: 25px;
  background-color: white;
  padding: 40px 0 40px 0;
  max-width: 40vw;
  margin: auto;
  margin-top:30px;
}

.ClassRoom__Message-Holder--Warning {
  color: #3c4044; 
  border: #3c4044 1px solid;
}

.ClassRoom__Message-Holder--Error {
  color: #eb3b3bd0;
  border: #eb3b3bd0 2px solid;
}

@media screen and (max-width: 1024px) {
  .ClassRoom__Play {
    display: block;
    margin-left: 10px;
    width: 90%;
    height: 50vh;
  }
}


@media screen and (max-width: 768px) {
  .ClassRoom__Play {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top:5px;
    width: 100%;
    height: 70vh;
  }
}

@media screen and (max-width: 630px) {
  .ClassRoom__Play {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top:5px;
    margin-left: 5px;
    width: 100%;
    height: 70vh;
  }
}