.SideMenu--Wrapper {
  background-color: #92bdee;
  align-content: space-around;
  min-width: 10vw;
  min-height: 100vh;
  max-width: 10vw;
}

.SideMenu--Category {
  text-align: left;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 8px;
  margin: 0 10 0 10;
  color: white;
  background-color: transparent;
}

button.SideMenu--Category:hover {
  background-color: #92a0ee;
}

button.SideMenu--Category:active {
  background-color: #a392ee;
}

.SideMenu-MenuItem {
  text-align: left;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 8px;
  margin: 0 10 0 10;
  background-color: white;
  color: #92bdee;
}

button.SideMenu-MenuItem:hover {
  background-color: #92a0ee;
  color: white;
}

button.SideMenu-MenuItem:active {
  background-color: #a392ee;
  color: white;
}

.SideMenu-MenuItem--hidden {
  display: none;
}

.SideMenu-MenuItem--shown {
  display: block;
}
