.App-header {
  background-color: #3c4044;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(8px + 2vmin);
  color: white;
  padding-bottom: 10px;
  flex-direction: row;
}

.App-header--Button {
  padding: 10px 20px 10px 20px;
  background-color: white;
  color: #3c4044;
  border-radius: 5px;
}

.App-header--Button:hover {
  background-color: #9392ee;
  color: white;
}

.App-Header-Link{ 
  margin-right: 20px;
}

a, u {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #9392ee;
}


.App-Header-Profile {
  margin-left: 15vw;
  margin-right: 50px;
}

.App-Header-Menu {
  margin-right: 50px;
}
