.App-header {
  background-color: #9ebfe4;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;
  flex-direction: row;
}

.App-header--Button {
  padding: 10px 20px 10px 20px;
  background-color: white;
  color: #92bdee;
  border-radius: 5px;
}

.App-header--Button:hover {
  background-color: #9392ee;
  color: white;
}

.App-Header-Profile {
  margin-right: 50px;
}

.App-Header-Menu {
  margin-right: 50px;
}
