.App-header {
  background-color: #3c4044;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(8px + 2vmin);
  color: white;
  padding-bottom: 10px;
  flex-direction: row;
  width: 100%;
}

.App-Header-Profile__Border {
  border-radius: 5px;
  border: white 1px solid;
  padding: 10px;
  margin-top: 5px;
}

.App-Header-Profile__Name {
  color: white;
  font-size: 16px;
}

.App-header-Profile__Credits {
  color: white;
  font-size: 16px;
}

.App-header--Button {
  padding: 10px 20px 10px 20px;
  background-color: white;
  color: #3c4044;
  border-radius: 5px;
}

.App-header--Button:hover {
  background-color: #9392ee;
  color: white;
}

.App-Header-links{
  margin-left: 300px;
}

.App-Header-Link{ 
  margin-left: 30px;
}

.App-Header-Profile {
  margin-left: 40vw;
}

.App-Header-Menu {
  margin-left: 50px;
}

/* iPad Pro */
@media screen and (max-width: 1024px) {
  .App-Header-links{
    margin-left: 30px;
  }

  .App-Header-Link{ 
    margin-left: 30px;
  }

  .App-Header-Profile {
    margin-left: 300px;
  }
  
  .App-Header-Menu {
    margin-left: 50px;
  }
}

a, u {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #9392ee;
}

/* iPad */
@media screen and (max-width: 768px) {
  .App-Header-links{
    margin-left: 20px;
  }

  .App-Header-Link{ 
    margin-left: 20px;
  }

  .App-Header-Profile {
    margin-left: 100px;
  }
  
  .App-Header-Menu {
    margin-left: 50px;
  }
}

/* Mobile */
@media screen and (max-width: 630px) {
  .App-Header-links{
    margin-left: 5px;
  }

  .App-Header-Link{ 
    margin-left: 5px;
  }

  .App-Header-Profile {
    margin-left: 5px;
  }
  
  .App-Header-Menu {
    margin-left: 5px;
  }
}



a, u {
  color: white;
  text-decoration: none;
}



